.footer {
  padding: 3rem 0;
  background: var(--clr-light-3);
}
.footer-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-social {
  display: flex;
  gap: 1rem;
}
.footer-icon {
  color: var(--clr-gray);
  font-size: 2rem;
}
