/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/************* 
VARIABLES
**************/
:root {
  --main-white: #fff;
  --main-black: #000;
  --clr-primary: #015860;
  --clr-light-1: #8af4fe;
  --clr-light-2: #a7f7fe;
  --clr-light-3: #c5fafe;
  --clr-ligth-4-bg: #e2fcff;
  --clr-dark-1: #015259;
  --clr-dark-2: #014b52;
  --clr-dark-3: #01454b;
  --clr-shade: #36c1e3;
  --clr-gray: #7a7a7a;
  --clr-green: #72a276;
  --clr-light-gray: #888eb0;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 992px;
}
/************* 
GLOBAL VARIABLES
**************/
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
main {
  min-height: 100vh;
}

/************* 
BUTTON
**************/
.btn {
  text-transform: capitalize;
  /* COLOR BG */
  font-weight: 700;
  font-size: 1rem;
  border: none;
  border-radius: var(--radius);
  padding: 0.375rem 0.775rem;
  display: inline-block;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  transition: var(--transition);
}
.btn:hover {
  background: rgba(0, 0, 0, 0.2);
  text-decoration: underline;
}
.icon {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  transition: var(--transition);
}
.icon:hover {
  background: var(--clr-light-2);
  color: var(--main-white);
  transform: translateY(-5px);
}

body {
  font-family: 'Noto Serif', serif;
}
/************* 
NAVBAR
**************/
.nav {
  background: var(--main-white);
  height: 5rem;
  display: grid;
  align-items: center;
}
.nav-center {
  width: 90vw;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo span {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
}
.logo .first {
  display: inline-block;
  margin-right: 0.5rem;
  color: #029eac;
}
.logo .last {
  color: #7a7a7a;
}
.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.nav-hamburger {
  font-size: 1.3rem;
  cursor: pointer;
}
.nav-links {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
  .nav-links a {
    color: var(--clr-gray);
  }
  .nav-hamburger {
    display: none;
  }
}

/************* 
SIDEBAR
**************/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background: var(--main-white);
  transform: translateX(100%);
  transition: var(--transition);
  overflow: hidden;
}
.show {
  transform: translate(0);
}
.sidebar-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1;
  justify-content: center;
  grid-template-rows: auto auto;
}
.close-btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #d50032;
}
.sidebar-links li {
  margin-bottom: 1.5rem;
  padding: 0.5rem;
  transition: all 0.1s linear;
}
.sidebar-links a {
  font-size: 1.3rem;
  color: var(--clr-gray);
}
.sidebar-links li:hover {
  border-left: 5px solid #c03000;
}
.sidebar-links li:hover a {
  color: #d23400;
}
.sidebar-social {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.sidebar-social li a {
  color: var(--clr-light-gray);
}
.sidebar-social li {
  font-size: 2rem;
}
@media screen and (min-width: 550px) {
  .sidebar {
    width: 400px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    display: none;
  }
}
/************* 
HOME
**************/
.hero {
  /* ADD BG COLOR */
  background: var(--clr-ligth-4-bg);
  color: var(--clr-gray);
}
.hero-center {
  min-height: calc(100vh - 5rem);
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  align-items: center;
}
.hero span {
  font-weight: 500;
}
.btn-container {
  margin-top: 1rem;
}
.hire-btn {
  margin-right: 0.3rem;
  background: var(--clr-light-1);
  color: var(--main-white);
}

.work-btn {
  background-color: var(--main-white);
  color: var(--main-black);
}
.hero-img-container {
  display: none;
}
.hero .sidebar-social {
  flex-direction: row;
  margin-top: 2rem;
}
@media screen and (min-width: 900px) {
  .hero-img-container {
    display: block;
    max-width: 30rem;
    max-height: 40rem;
  }
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
}
/* SKILLS */
.skills {
  background: var(--clr-light-3);
  padding: 3rem 0;
}
.section-title {
  text-align: center;
}
.section-title .underline {
  margin: 0.5rem auto;
  margin-bottom: 2rem;
}
.section-title h3 {
  color: var(--clr-primary);
}
.skills-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1000px;
}
.stack {
  margin: 1rem 0;
  color: var(--clr-gray);
}
@media screen and (min-width: 768px) {
  .skills-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
}

.skill {
  margin: 2rem 0;
}
.tech {
  margin: 1rem 0;
}
.skill-container {
  width: 100%;
  background: var(--main-white);
  height: 1rem;
  border-radius: 10px;
  position: relative;
}
.skill-value {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--clr-shade);
  border-radius: 10px;
}
.skill-text {
  position: absolute;
  top: -2.3rem;
  left: 50%;
  transform: translateX(-50%);
}
